var page = require("webpage").create();

// A template var filled in via go
var laddr = "{{.LAddr}}";

// Provide a console.log for the test output
page.onConsoleMessage = function(msg) {
    console.log(msg);

    if (msg === "Jasmine Testing Completed") {
        phantom.exit();
    }
};

(function() {
    page.open("http://" + laddr, function() {});
}());

// vim: filetype=javascript
